p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    color: beige;
}

.cabecalho{
    background-color: rgb(247, 228, 88);
    height: 150px;
    width: 100%;
    align-content: center;
}
