p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    color: azure;
    font-family: fantasy;
}

.cabecalho{
    background-color: rgb(34, 34, 37);
    height: 150px;
    width: 100%;
    align-content: center;
}

body{
    background-color: rgb(0, 0, 0);
}
